*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  
}

/* header section */

header{
    background: white;
    /* width: 85%;
    max-width: 1360px; */
    margin: 0 auto;
}
.navbar{
    width: 85%;
    background: #FFFFFF;
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
}
.navbar .image{
    display: flex;
    padding: 16px 0;
}
.navbar .nav-section{
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
}
.navbar .nav-section a{
    text-decoration: none;
    color:#000000;
    font-size: 16px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #FFFFFF;
    background: #469165;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    margin: 24px 0;
}

/* hero section */

.hero-section{
    display: flex;
    height: 674px;
    background: url(../assets/hero-bg.png);
    background-size: cover;
    flex-direction: column;
    align-items: center;
}
.hero-section .early-acces {
    display: flex;
    margin-top: 154px;
    padding: 8px 0;
}
.hero-section .custom-btn{
    display: flex;
    border: none;
    border-radius: 20px;
    padding: 8px 12px 8px 4px;
    gap: 1.5px;
}
.hero-section .hero-header{
    text-align: center;
    width: 770px;
}
.hero-header h1{
    font-size: 72px;
    font-weight:bold;
    color: #30B868;
    line-height: 84px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.hero-header h2{
    font-size: 72px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    text-transform: capitalize;
}
.hero-header p{
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    line-height: 24px;
   
}
.hero-btn{
  display: flex;
  gap: 16px;
  margin-bottom: 179px;
}
.hero-btn .btn{
    display: flex;
    border-radius: 4px;
    height: 52px;
    padding: 12px 16px;
    gap: 5.5px;
   
}
.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background: transparent;
    padding: 12px 16px;
    border:1px solid white;
    color: #FFFFFF;
    border-radius: 4px;
  
}
.card-section{
    max-width: 1360px;
   background: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    margin: 0 auto;
}
.card-section .section-header{
    text-align: center;
}
.card-section .section-header h2{
    font-size: 48px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.card-section .section-header p{
    font-size: 16px;
    margin-bottom: 44px;
}
.card-section .card-info{
    display: flex;
    gap: 24px;
   
}
.card-section .card-info .card{
    height: 300px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow:0 10px 15px 20px rgba(0,0,0,0.05);
    text-align: center;
    padding: 24px;
}
.card-info .card img{
    width: 60px;
    height: 60px;
    padding: 13px;
    background:#F95555;
    border-radius: 100%;
    margin-bottom: 16px;
}
.card h3{
    font-size: 24px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
.card p{
    font-size: 16px;
    line-height: 20px;
    color:#627382;
    margin-bottom: 16px;
}